 <div>
     
 </div>
 <table class="table table-striped" ng-controller="contatosController">
            <thead>
                <tr>
                    <td>
                        <h1 class="fa fa-user"></h1>
                        <a ng-click="sort('nome')">Nome</a>
                    </td>
                    <td>
                        <h1 class="fa fa-envelope"></h1>
                        <a ng-click="sort('email')">Email</a></td>
                    <td>
                        <h1 class="fa fa-phone"></h1>
                        <a ng-click="sort('telefone')">Telefone</a></td>
                </tr>
            </thead>

            <tbody class="table-striped">
                <tr ng-repeat="contato in elementos | 
                     orderBy:sortValue:order
                     | filter: filtro">
                    <td>{{contato.nome }}</td>
                    <td>{{contato.email}}</td>
                    <td>{{contato.telefone}}</td>
                </tr>
            </tbody>
        </table>