<section class="container ">
    <meu-painel titulo="Cadatro de Contatos">

    </meu-painel>

    <div class="row">


        <form novalidate name="formulario" class="row" ng-submit="submeter()">
            <div class="row">
                <div class="form-group">
                    <label>Nome</label>
                    <input type="text" name="nome" ng-model="contato.nome" class="form-control">

                </div>

                <div class="form-group">
                    <label>Telefone</label>
                    <input type="tel" name="telefone" ng-model="contato.telefone" class="form-control">
                </div>

                <div class="form-group">
                    <label>Email</label>
                    <input type="email" name="email" ng-model="contato.email" class="form-control">
                </div>


                <button type="submit" class="btn btn-primary">Salvar</button>
                <a href="#" class="btn btn-primary">Voltar</a>
                <hr>
            </div>
        </form>
    </div>
    </section>